<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="modalOptions.close()">&times;</button>
  <h4 class="modal-title">Forgot Password ?</h4>
</div>
<div class="modal-body">
  <p class="f16">Enter your e-mail address below to reset your password.</p>
  <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control f12 mb15 p10 placeholder-no-fix">

</div>
<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="modalOptions.close()">Cancel</button>
  <button class="btn btn-success" type="button" ng-click="modalOptions.ok()">Submit</button>
</div>
