<div class="container">

		<form class="form-signin bg-white" name="form">
			<h2 class="form-signin-heading m0 text-center bg-blue-grn f18 thin">sign in</h2>
			<div class="login-wrap p20">
				<input type="text" class="form-control f12 p10 mb15" placeholder="User ID" autofocus>
				<input type="password" class="form-control f12 p10 mb15" placeholder="Password">
				<label class="checkbox mb15 thin">
					<input type="checkbox" value="remember-me"> Remember me
					<span class="pull-right forgot-password mt5">
                    <a href ng-click="openforgotPassModal()"> Forgot Password?</a>

                </span>
				</label>
				<button class="btn btn-lg btn-login btn-block bg-btn-coral thin mb20" type="submit" ui-sref="shopkeeper">Sign in</button>
				<p class="text-center f16">or you can sign in via social network</p>
				<div class="login-social-link mt20 mb15">
					<a href class="facebook">
						<i class="fa fa-facebook" class="f20 pr10"></i> Facebook
					</a>
					<a href="index.html" class="twitter">
						<i class="fa fa-twitter" class="f20 pr10"></i> Twitter
					</a>
				</div>
				<div class="registration">
					Don't have an account yet?
					<a class="" href ui-sref="login.register">
                    Create an account
                </a>
				</div>

			</div>

		</form>

	</div>
