/*login page*/

.form-signin {
	max-width: 330px;
	margin: 100px auto 100px;
	@include border-radius(5px);
	h2.form-signin-heading {
		padding: 20px 15px;
		@include border-radius(5px 5px 0 0);
		text-transform: uppercase;
	}
	.form-control {
		position: relative;
		height: auto;
		// box-shadow:none;

		&:focus {
			z-index: 2;
			// border: 1px solid #ccc;
		}
	}
	.checkbox {
		color: $check-gray;
	}
	.btn-login {
		text-transform: uppercase;
		box-shadow: 0 4px #e56b60;
		&:hover {
			color: $white;
		}
	}
	a {
		color: $blue-grn;
		&:hover {
			color: $check-gray;
		}
	}
	.login-social-link {
		display: inline-block;
		a {
			padding: 15px 36px;
			@include border-radius(4px);
			color: $white !important;
			&:hover {
				color: $white;
			}
		}
		.facebook {
			background: #5193ea;
			margin-right: 18px;
			box-shadow: 0 4px #2775e2;
			float: left;
		}
		.twitter {
			background: #44ccfe;
			box-shadow: 0 4px #2bb4e8;
			float: left;
		}
	}
}
