<div class="container">

	<form class="form-signin bg-white" ng-validate="signUpValidation" name="form">
		<h2 class="form-signin-heading m0 text-center bg-blue-grn f18 thin">Sign Up</h2>
		<div class="login-wrap p20">
			<div id="account-details" ng-show="account_details==true" >
				<p class="text-center f16"> Enter your account details below</p>
				<input type="text" class="form-control f12 p10 mb15" placeholder="User Name" autofocus name="userName">
				<input type="password" class="form-control f12 p10 mb15" placeholder="Password" name="passwords" id="pass">
				<input type="password" class="form-control f12 p10 mb15" placeholder="Re-type Password" name="re_password">
				<button class="btn btn-lg btn-login btn-block bg-btn-coral thin mb20" type="submit"  ng-click="goToPersonal(form)">Next</button>
				<div class="registration">
					Already Registered?
					<a class="" href>
										Login
								</a>
				</div>
			</div>
			<div id="personal-details" ng-if="personal_details==true">
				<p class="text-center f16">Enter your personal details below</p>
				<input type="text" class="form-control f12 p10 mb15" placeholder="Full Name" name="fullName" autofocus>
				<input type="text" class="form-control f12 p10 mb15" placeholder="Address" autofocus name="address">
				<input type="text" class="form-control f12 p10 mb15" placeholder="Email" name="email" autofocus>
				<input type="text" class="form-control f12 p10 mb15" placeholder="Phone No." name="phone" autofocus>
				<div class="radios pt20">
					<label class="label_radio col-lg-6 col-sm-6" for="radio-01">
						<input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Male
					</label>
					<label class="label_radio col-lg-6 col-sm-6" for="radio-02">
						<input name="sample-radio" id="radio-02" value="1" type="radio" /> Female
					</label>
				</div>
				<label class="checkbox  mb15 thin">
					<input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
				</label>
				   <button class="btn btn-sm btn-login btn-block bg-btn-coral thin mb20" ng-click="goToAccount()">back</button>
				   <button class="btn btn-sm btn-login btn-block bg-btn-coral thin mb20" ng-click="submit(form)" type="submit">Submit</button>
			</div>

		</div>

	</form>

</div>
