@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q1ag0j');
  src:  url('fonts/icomoon.eot?q1ag0j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q1ag0j') format('truetype'),
    url('fonts/icomoon.woff?q1ag0j') format('woff'),
    url('fonts/icomoon.svg?q1ag0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help_support:before {
  content: "\e934";
}
.icon-map_view:before {
  content: "\e933";
}
.icon-raise_issue:before {
  content: "\e932";
}
.icon-get_notification:before {
  content: "\e930";
}
.icon-submit_issue:before {
  content: "\e931";
}
.icon-notification:before {
  content: "\e920";
}
.icon-up_arrow:before {
  content: "\e91c";
}
.icon-fillter:before {
  content: "\e90b";
}
.icon-tile_view:before {
  content: "\e92e";
}
.icon-upload_photo:before {
  content: "\e92f";
}
.icon-escalated:before {
  content: "\e948";
}
.icon-investigating:before {
  content: "\e92d";
}
.icon-mason_worker:before {
  content: "\e942";
}
.icon-painter:before {
  content: "\e943";
}
.icon-plumber:before {
  content: "\e944";
}
.icon-resolved:before {
  content: "\e945";
}
.icon-carpenter:before {
  content: "\e946";
}
.icon-electrician:before {
  content: "\e947";
}
.icon-implementing:before {
  content: "\e949";
}
.icon-double_tick:before {
  content: "\e92c";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-left_arrow:before {
  content: "\e925";
}
.icon-right_arrow:before {
  content: "\e926";
}
.icon-tick:before {
  content: "\e927";
}
.icon-unknown_image:before {
  content: "\e928";
}
.icon-down_arrow:before {
  content: "\e929";
}
.icon-gallery:before {
  content: "\e92a";
}
.icon-employee_login:before {
  content: "\e921";
}
.icon-issue_category:before {
  content: "\e922";
}
.icon-settings:before {
  content: "\e923";
}
.icon-close:before {
  content: "\e924";
}
.icon-television:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e900";
}
.icon-air_conditioner:before {
  content: "\e901";
}
.icon-calender:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e903";
}
.icon-category_master:before {
  content: "\e904";
}
.icon-change_password:before {
  content: "\e905";
}
.icon-dashboard:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e909";
}
.icon-electronics:before {
  content: "\e90a";
}
.icon-furniture:before {
  content: "\e90c";
}
.icon-history:before {
  content: "\e90d";
}
.icon-issue:before {
  content: "\e90e";
}
.icon-list_view:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e912";
}
.icon-painting:before {
  content: "\e913";
}
.icon-plumbing:before {
  content: "\e914";
}
.icon-printer:before {
  content: "\e915";
}
.icon-profile:before {
  content: "\e916";
}
.icon-report:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-shop:before {
  content: "\e919";
}
.icon-signature:before {
  content: "\e91a";
}
.icon-technician:before {
  content: "\e91b";
}
.icon-upload_video:before {
  content: "\e91d";
}
.icon-users:before {
  content: "\e91e";
}
.icon-video:before {
  content: "\e91f";
}

