<!-- header code  -->
<div>
    <acme-navbar />
</div>
<div class="resetPasswordPage">
    <div class="page-content">
        <div class="row">
            <div class="col-md-4 col-md-push-4 col-sm-8 col-sm-push-2 col-xs-12 col-xs-push-0">
                <div class="card myCard">
                    <h3 class="m0 text-center normal grey">Please Enter Your New Password Below</h3>
                    <hr>
                    <form ng-validate="resetValidation" class="form row m0" name="resetForm" ng-submit="submitResetPassword(resetForm)">
                        <div class="col-md-12 col-xs-12 p0">
                            <label class="normal" for="name">New Password</label>
                        </div>
                        <div class="col-md-12 col-xs-12 p0 mb20">
                            <input required="" id="newPwd" name="newPwd" class="form-control" id="newPwd"  type="password" class="input-medium inputpanel" ng-model="resetModel.password">
                        </div>

                        <div class="col-md-12 col-xs-12 p0">
                            <label class="normal" for="name">Confirm Password</label>
                        </div>
                        <div class="col-md-12 col-xs-12 p0 mb20">
                            <input required="" id="confirmPwd" name="confirmPwd" class="form-control" type="password" class="input-medium inputpanel" ng-model="resetModel.confrmPassword">
                        </div>
                        <div class="col-md-12 col-xs-12 text-center">
                            <button class="btn btn-primary btn-block">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
