<!-- header code  -->
<div>
    <acme-navbar />
</div>
<div class="mobileVerificationPage">
    <div class="page-content">
        <div class="row">
            <div class="col-md-4 col-md-push-4 col-sm-8 col-sm-push-2 col-xs-12 col-xs-push-0">
                <div class="card myCard">
                    <p class="m0 grey mb10">Enter your CPR number</p>
                    <form ng-validate="signUpValidation" class="form row m0" name="verificationForm" ng-submit="onClickMobileVerification(cprNumber,verificationForm)">
                        <div class="col-md-8 col-xs-8 p0">
                            <input id="name" name="cprNumber" class="form-control" type="text" class="input-medium inputpanel" ng-model="cprNumber">
                        </div>
                        <div class="col-md-4 col-xs-4 p0">
                            <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
