/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
//
// $navbar-inverse-link-color: #5AADBB;
// $icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/* @mixin - border-radius || use- @include border-radius(10px);*/
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
//@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/*colors*/
$gray: #797979; // gray
$light-gray: #f1f2f7; // light-gray
$coral: #FF6C60; //coral
$white: #fff;
$blue-grn: #41cac0;
$check-gray: #b6b6b6; //checkbox-gray
$btn-coral: #f67a6e; // button background
$menu-gray: #2E2E2E;
$green: #a9d86e;
$blue: #50c8ea;
$yellow: #FCB322;
$terques: #6ccac9;
/*bg-colors*/
.login-body {
	background-color: $light-gray;
}

.bg-white {
	background-color: $white;
}

.bg-blue-grn {
	background-color: $blue-grn;
	color: $white;
}

.bg-btn-coral {
	background-color: $btn-coral;
	color: $white;
}

.white {
	color: $white;
}
/*badge*/
.badge.bg-primary {
	background: #8075c4;
}

.badge.bg-success {
	background: $green;
}

.badge.bg-warning {
	background: $yellow;
}

.badge.bg-important {
	background: $coral;
}

.badge.bg-info {
	background: $blue-grn;
}

.badge.bg-inverse {
	background: #2A3542;
}
/* heading types */
.h1 {
	font-size: 36px;
}

.h2 {
	font-size: 30px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 16px;
}

.h6 {
	font-size: 12px;
}

.h7 {
	font-size: 11px;
}
/* font size types */
.f10 {
	font-size: 10px;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 18px;
}

.f20 {
	font-size: 20px;
}

.f22 {
	font-size: 22px;
}

.f24 {
	font-size: 24px;
}

.f26 {
	font-size: 26px;
}

.f28 {
	font-size: 28px;
}

.f30 {
	font-size: 30px;
}

.f32 {
	font-size: 32px;
}

.f34 {
	font-size: 34px;
}

.f36 {
	font-size: 36px;
}

.f38 {
	font-size: 38px;
}

.f40 {
	font-size: 40px;
}
/* font weights */
.thin {
	font-weight: 300 !important;
}

.normal {
	font-weight: 400 !important;
}

.medium {
	font-weight: 500 !important;
}

.bold {
	font-weight: 600 !important;
}
/* text alignment */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
// font-family roboto
@font-face {
	font-family: Open Sans;
	src: url("../assets/font/Open-sans/OpenSans-LightItalic.ttf");
	font-weight: 100;
}
@font-face {
	font-family: Open Sans;
	src: url("../assets/font/Open-sans/OpenSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: Open Sans;
	src: url("../assets/font/Open-sans/OpenSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: Open Sans;
	src: url("../assets/font/Open-sans/OpenSans-Bold.ttf");
	font-weight: 500;
}
@font-face {
	font-family: Open Sans;
	src: url("../assets/font/Open-sans/OpenSans-Semibold.ttf");
	font-weight: 600;
}
$font-family: 'Open Sans', sans-serif;

.font-family {
	font-family: 'Open Sans', sans-serif;
}
/* margins types and size*/
.m0 {
	margin: 0;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}
/* margin-top */
.mt0 {
	margin-top: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}
/* margin-right */
.mr0 {
	margin-right: 0;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}
/* margin-bottom */
.mb0 {
	margin-bottom: 0;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}
/* margin-left */
.ml0 {
	margin-left: 0;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}
//
/*Padding types and size*/
.p0 {
	padding: 0;
}

.p5 {
	padding: 5px;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}
/* padding-top */
.pt0 {
	padding-top: 0;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}

.pt30 {
	padding-top: 30px;
}
/* padding-right */
.pr0 {
	padding-right: 0;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr15 {
	padding-right: 15px;
}

.pr20 {
	padding-right: 20px;
}

.pr25 {
	padding-right: 25px;
}

.pr30 {
	padding-right: 30px;
}
/* padding-bottom */
.pb0 {
	padding-bottom: 0;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb25 {
	padding-bottom: 25px;
}

.pb30 {
	padding-bottom: 30px;
}
/* padding-left */
.pl0 {
	padding-left: 0;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}
/*layout*/
body {
	color: $gray;
	background: $light-gray;
	font-family: 'Open Sans', sans-serif;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 13px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: none;
		outline: none;
	}
}

::selection {
	background: $coral;
	color: $white;
}

::-moz-selection {
	background: $coral;
	color: $white;
}

p {
	color: $check-gray;
	font-weight: 300;
}

.form-control {
	box-shadow:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:focus {
		border: 1px solid #ccc;
		box-shadow:none;
	}
}
/*checkbox & radio style*/
.checkboxes label,
.radios label {
	display: block;
	cursor: pointer;
	line-height: 20px;
	padding-bottom: 7px;
	font-weight: 300;
}

input[type="checkbox"],
input[type="radio"] {
	position: relative !important;
	margin-left: 0 !important;
	&:focus {
		outline: none;
	}
}
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
