<!-- header code  -->
<div>
    <acme-navbar />
</div>
<div class="resetPwdSuccessPage">
    <div class="page-content">
        <div class="row">
            <div class="col-md-4 col-md-push-4 col-sm-8 col-sm-push-2 col-xs-12 col-xs-push-0">
                <div class="card myCard">
                    <h3 class="m0 text-center normal grey">Your password has been changed successfully</h3>
                    <hr>
                    <form class="form row m0" name="verificationForm" ng-submit="verifyOtp(verificationForm)">
                        <div class="col-md-12 col-xs-12 p0 text-center">      
                            <i class="icon-double_tick icon blue"></i>
                            <br>
                            <p>Please select continue to proceed to the SignIn page</p>
                        </div>
                        <div class="col-md-12 col-xs-12 text-center mt10">
                            <button class="btn btn-primary btn-block">SIGN IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
